<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MF Igniter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="keywords" content="Keywords go here" />
  <meta name="description" content="A description goes here" />

  <!-- Facebook Meta Data -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Insert Article Title" />
  <meta property="og:description" content="Insert Excerpt" />
  <meta property="og:url" content="Insert Url to Article" />
  <meta property="og:image" content="Insert Url to Image" />
  <meta property="article:section" content="Insert TBD Taxonomy" />
  <meta property="article:published_time" content="Insert Published Time" />
  <meta property="article:modified_time" content="Insert Modified Time" />

  <!-- Twitter Meta Data -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="Insert Site's Twitter Username" />
  <meta name="twitter:title" content="Insert Article Title" />
  <meta name="twitter:description" content="Insert Description" />
  <meta name="twitter:image" content="Insert Url to Image" />
  <meta name="twitter:url" content="Insert Url to Article" />

  <!-- Angular Location Service in HTML5 Mode -->
  <base href="/" target="_self" />

  <!-- Icons -->
  <link rel="icon" type="image/png" href="//localhost:5000/assets/img/favicon32.png" sizes="32x32" />
  <link rel="shortcut" type="image/png" href="//localhost:5000/assets/img/favicon64.png" sizes="64x64"/>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//localhost:5000/assets/css/main.css" />

  <!-- Javascript:Head -->
</head>
<body>
  <div class="container">
    <%- placeholder('headerZone') %>
    <%- placeholder('bodyZone') %>
    <%- placeholder('footerZone') %>
  </div>

  <!--[if lte IE 8]>
  <div class="browser-warning">
    <div class="browser-warning__box">
      <i class="browser-warning__icon"></i>
      <p class="browser-warning__content">Please update your browser to one of the latest browsers.</p>
    </div>
  </div>
  <![endif]-->

  <!-- Javascript:Footer -->
  <script data-main="//localhost:5000/assets/js/main" src="//localhost:5000/assets/vendor/requirejs/require.js"></script>
</body>
</html>